## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## NuGet
*.nupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
launchSettings.json

## Rider
.idea/

## User secrets
secrets.json

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
